body{
    font-family:"Roboto", Helvetica, sans-serif;
    font-size: 14px;
}

body::-webkit-scrollbar{
    display: none;
  }
.nav-list{
    height: 28px;
    align-items: center;
    font-size: 14px;

}

.nav-list:hover{
    padding-left: 3px;
    transition-duration: 400ms;
    color: #11A4A3;
}

.nav-button{

    
    height: 42px;
}
.nav-btn-boder{
  border-bottom: 0.5px dashed rgb(228, 225, 225);

}

.nav-button:hover{
    color: #11A4A3;
}

.button-div{
    padding-left: 8px;
}

.nav-ul{
    border-bottom: 0.5px solid rgb(228, 225, 225);
}
.list-type{
   padding: 10px 0px 0px 33px;
   list-style-type: circle !important;
}
.shadows{
    box-shadow: 0 0 10px 0 rgb(183 192 206/20%);
        border-radius:10px ;
}
.shadows::-webkit-scrollbar{
    display: none;
  }
  .table-con::-webkit-scrollbar{
    display: none;
  }

table tr{
    border-bottom:  1px solid rgb(228, 225, 225); 
    background-color: white;
    
}
table>tr>td{
    padding: 8px 25px;
    width: 131px;
    height: 59px;
    text-align: left;
    
}
table th{
    padding: 44px 25px 20px 25px;
    text-align: left;
    background-color: white;
    font-weight:600;
    z-index: auto;
    background-color: white;
    
   

}
tr:nth-child(odd){
    background-color: #fbfbfb !important;
}

@media only screen and (min-width: 375px) {
    .table td,th{
        padding: 8px 34px;
    }
}
@media only screen and (min-width: 425px) {
    .table td,th{
        padding: 8px 42px;
    }
}

@media only screen and (min-width: 768px) {
    .table td,th{
        padding: 8px 56px;
    }
}
@media only screen and (min-width: 1440px) {
    .table td,th{
        padding: 20px 15px;
    }
}

.add-candidate{
    outline: none;
    border: 1px solid rgb(229,231,235);
    border-radius: 6px;
}
.Export-button{
    background-color:#029e9d !important;
    color: white !important;
    padding: 12px 18px !important;
    border-radius: 12px !important;
    display: flex !important;
    align-items: center;
    font-size: 15px;
    
    
}
.Export-button:hover{
    background-color: #fdc703 !important;
    transition-duration: 500ms;

}

.dialog-button:hover{
    background-color: #fdc703 !important;
    transition-duration: 500ms;
}

.dialoge-input {
    outline: none;
    border: 1px solid rgb(229,231,235);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 10px;
    width: 100%;

}

.navbar-ul{
    list-style-type: circle;
}

.menu-bar{
    transition-duration: 100ms;
}
 

.notification-circle{
    width: 10px;
    height: 10px;
    background-color: rgb(43, 192, 147);
    border-radius:50%;
    position: absolute;
    top:  18px;
    margin-left:11px;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgb(43, 192, 147,1);
    animation: pulse-green 1s infinite;
    
    
  }
  
  @keyframes pulse-green {
    0% {
      transform: scale(0.7);
      box-shadow: 0 0 0 0 rgb(43, 192, 147,0.25);
    }
  
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgb(43, 192, 147,0.25);
    }
  
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }
  
  @media screen and (min-width:1441px)and (max-width:2560px){
    .notification-circle{
      top:20px;
      margin-left: 10px;
    }
  }
  .navbar-list{
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: rgb(113,113,113);
  }
  .navbar-icon{
   
    text-align: center;
    font-size: 14px;
    color: #6A6B6B;
  }
  .Navication-button{
    background-color:white !important;
    color: #029e9d !important;
    padding: 8px 15px !important;
    border-radius: 8px !important;
    display: flex !important;
    align-items: center;
    border:1px solid rgb(228, 225, 225);
  }
  .Navication-button:hover{
    background-color:#029e9d !important;
    color: white !important;
  }
  .Navication-button-1{
    background-color:#029e9d !important;
    color: white !important;
    padding: 8px 15px !important;
    border-radius: 8px !important;
    display: flex !important;
    align-items: center;
    border:1px solid rgb(228, 225, 225);
  }

  .anchor-tag:hover{
color: #0d6efd;;
  }
  .add-vacancy-form{
    box-shadow: 0 0 10px 0 rgb(183 192 206/20%);
    border-radius: 10px;
    background-color: white;
  }
.action-buttons{
    display: flex;
    gap: 8px;
    color: #029e9d;
    justify-content: start;
    font-size: 20px;
     
}

.tb-icon:hover{
  color: #0d6efd;
}
